:root{
    --color-dark:#27292a;
    --color-darkest:#1f2122;
    --color-light:#fff;
    --color-primary:#d9230f;
    --color-bg-body:var(--color-darkest);

    --distance-primary:50px;
    --padding-primary:var(--distance-primary);
    --margin-primary:var(--distance-primary);
    --border-radius-primary:calc(var(--distance-primary)/2);

    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold:900;
    --font-weight-normal:400;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body{
    background-color: #27292a;
    font-family: 'Poppins', sans-serif;;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}


.hero-main{
    margin-top: 50px;
    background: url('images/assets/905610.jpg') no-repeat top right/cover;
    background-color: #27292a;
    color: #fff;
    border-radius: 25px;
    padding: 50px;
    height: 500px;

}

.hero-text{
    max-width: 600px;
}

.hero-title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 900;
}

.hero-title em{
   font-style: normal;
   color: var(--color-primary);
}

.hero-subtitle{
    font-size: 20px;
    color: white;
    font-weight: normal;
    margin-bottom: 25px;
}

.productsnew{
    margin-top: 50px;
    background-color: var(--color-darkest);
    color: #fff;
    border-radius: 25px;
    padding: 50px; 
}

.newproduct-main{
    margin-top: 50px;
    background: url('images/assets/905610.jpg') no-repeat top right/cover;
    background-color: #27292a;
    color: #fff;
    border-radius: 25px;
    padding: 50px;

}

.card{
    border-radius: 20px;
    padding: 10px;
}
.card-img-top{
    border-radius: 25px;
}
.newproduct-text{
    max-width: 500px;
}

.newproduct-title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: var(--font-weight-bold);
}

.newproduct-title em{
   font-style: var(--font-weight-normal);
   color: var(--color-primary);
}

.newproduct-subtitle{
    font-size: 20px;
    color: white;
    font-weight: var(--font-weight-normal);
    margin-bottom: 25px;
}


.section-wrapper{
    background-color: var(--color-darkest);
    border-radius: 50px;
    padding: 50px;
    margin-top: 50px;
}



.most-popular-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display:flex ;
    justify-content: space-between;
}

.most-popular-item{
    flex: 1;
}

.card-wrapper{
    background-color: var(--color-dark);
    border-radius: 5px;
    padding: 25px;
    margin: 2px;

}

.most-popluar-item-image{
    width: 100%;
    border-radius: 25px;
    margin-bottom: 25px;
}

.most-popluar-item-content{
    display:flex ;
    justify-content: space-between;
}

.most-popluar-item-title{
    font-size: 14px;
}


